Source: log4cpp
Section: contrib/devel
Priority: optional
Maintainer: Marcel Harkema <marcel@debian.org>
Standards-Version: 3.5.2
Build-Depends: debhelper (>> 3.0.0), libtool, doxygen, graphviz

Package: liblog4cpp0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: A C++ library for flexible logging
 Log for C++ is a library of C++ classes for flexible logging to files,
 syslog and other destinations. It is modeled after the Log for
 Java library (http://jakarta.apache.org/log4j/), staying as close to
 their API as is reasonable.

Package: liblog4cpp-dev
Architecture: any
Depends: liblog4cpp0 (= ${Source-Version}), libc6-dev
Description: A C++ library for flexible logging (development files)
 Log for C++ is a library of C++ classes for flexible logging to files,
 syslog and other destinations. It is modeled after the Log for
 Java library (http://jakarta.apache.org/log4j/), staying as close to
 their API as is reasonable.

Package: liblog4cpp-doc
Architecture: all
Description: A C++ library for flexible logging (documentation)
 Log for C++ is a library of C++ classes for flexible logging to files,
 syslog and other destinations. It is modeled after the Log for
 Java library (http://jakarta.apache.org/log4j/), staying as close to
 their API as is reasonable.

